name: Publish
on:
  push:
    tags:
      - "*"

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  publish_jsr:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - name: Publish package
        run: deno publish
  publish_npm:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - name: Generate code
        run: deno run --allow-all scripts/build_npm.ts

      - name: Publish to npm
        working-directory: ./npm
        run: npm publish
